.bg-img {
  position: absolute;
  max-height: 60vh;
  width: 100%;
  object-fit: cover;
  z-index: -1;
}
.backimage {
  position: absolute;
  background-image: url("images/ella-olsson-opbjwbccaeo-unsplash.jpg");

  height: 844px;
  width: 100%;
  z-index: -1;
}
.darken {
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 0;
}
.navbar-brand {
  text-shadow: 2px 2px 3px black;
}
.nav-link {
  color: aliceblue;
  text-shadow: 2px 2px 3px black;
}
.section2 {
  margin-top: 200px;
}
.notcenter {
  justify-content: center;
  padding-top: 8rem;
  text-align: center;
  color: white;
  text-shadow: 2px 2px 3px black;
}
.login {
  padding-top: 200px;
  width: 24%;
  justify-content: center;
}
.logincard {
  border-radius: 20px;
}
.btn-primary {
  width: 100%;
}
.para {
  margin-bottom: -2px;
}
p > a {
  color: pink;
}
.food-row {
  justify-content: center;
}
.food-card {
  /* background: radial-gradient(40deg, #f9c74f, #f9c74f, orange, #f8961e); */
  background: radial-gradient(#f8961e 20%, orange 40%, #f9c74f, #f9c74f);
  background-color: #f9c74f;
  border-top-left-radius: 15em;
  border-top-right-radius: 15em;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
  text-align: center;
  margin-right: 2em;
  margin-bottom: 2em;
  width: 16em;
}
.food-card-body {
  padding-bottom: 1em;
}
.divfood {
  padding-bottom: 1em;
}
.card-img-top {
  align-self: center;
  width: 18em;
  object-fit: contain;
  aspect-ratio: 3 /2;
  filter: drop-shadow(5px 5px 10px black);
}

.rate {
  display: flex;
  align-items: center;
  justify-content: end;
}

.card-body {
  text-align: start;
}
.card-title {
  font-size: x-large;
  font-weight: bolder;
}
.rate {
  text-align: justify;
  align-content: center;
  font-size: x-large;
  font-weight: bold;
}
.rating {
  color: maroon;
  font-size: 1em;
  text-align: end;
  font-size: x-large;
  font-weight: bold;
}
.orderbtn {
  height: 2.5em;
  font-size: large;
}
