.bg-img {
  position: absolute;
  /* width: 500px; */
  max-height: 60vh;
  width: 100%;
  object-fit: cover;
  z-index: -1;
}
.backimage {
  position: absolute;
  /* width: 500px; */
  /* max-height: 60vh; */
  background-image: url("images/ella-olsson-opbjwbccaeo-unsplash.jpg");
  /* overflow-y: auto; */
  height: 844px;
  width: 100%;
  /* object-fit: cover; */
  z-index: -1;
}
.darken {
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 0;
}
.navbar-brand {
  text-shadow: 2px 2px 3px black;
}
.nav-link {
  color: aliceblue;
  text-shadow: 2px 2px 3px black;
}
.section2 {
  margin-top: 200px;
}
.notcenter {
  justify-content: center;
  padding-top: 8rem;
  text-align: center;
  color: white;
  text-shadow: 2px 2px 3px black;
}
.login {
  /* display: flex; */
  padding-top: 200px;
  width: 24%;
  justify-content: center;
  /* align-items: center; */
}
.logincard {
  border-radius: 20px;
}
.btn-primary {
  width: 100%;
}
.para {
  margin-bottom: -2px;
}
p > a {
  color: pink;
}
.food-card {
  /* background: radial-gradient(40deg, #f9c74f, #f9c74f, orange, #f8961e); */
  background: radial-gradient(#f8961e 20%, orange 40%, #f9c74f, #f9c74f);
  background-color: #f9c74f;
  border-top-left-radius: 15em;
  border-top-right-radius: 15em;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
  overflow: hidden;
  text-align: center;
  /* box-shadow: 0 0 20px black; */
}
.card-img-top {
  /* width: 60%;
   */
  filter: drop-shadow(5px 5px 10px black);

  /* box-shadow: 0 0 20px black; */
}
/* .food-card img {
  width: 100%;
  border-bottom: 2px solid #f8f8f8;
  background-color: #f8f8f8;
  border-radius: 20px;
} */
.rate {
  display: flex;
  align-items: center;
  justify-content: end;
  /* width: fit-content; */
  height: fit-content;
}

.card-body {
  text-align: start;
  padding: -1px;
}
.card-title {
  font-size: xx-large;
  font-weight: bold;
}
.rate {
  /* padding-top: 200px; */
  /* text-align: end; */
  text-align: justify;
  align-content: center;
  font-size: x-large;
  font-weight: bold;
}
.rating {
  color: maroon;
  font-size: 1rem;
  margin-top: 5px;
  text-align: end;
  font-size: x-large;
  font-weight: bold;
}
.orderbtn {
  height: 3em;
  padding-top: 8px;
  font-size: large;
}
